# Webservice name
WS_URL=

# BC environment credentials
TENANT_ID=
SCOPE=
TOKEN_URL=
STAGE_CLIENT_ID=
STAGE_CLIENT_SECRET=
PROD_CLIENT_ID=
PROD_CLIENT_SECRET=

# Email setup
SMTP_SERVER=
SMTP_PORT=
EMAIL=
PASSW=

# Application setup
RECIPIENTS_FILENAME=recipients_example.json
DATA_FILENAME=data_example.json